$cells: (
    base: (
        all: (),
        bottom: (20),
        top: (20, 40),
        left: (),
        right: (),
        horizontal: (),
        vertical: (40)
    ),
    small: (
        all: (),
        bottom: (),
        top: (),
        left: (),
        right: (),
        horizontal: (),
        vertical: ()
    ),
    medium: (
        all: (),
        bottom: (50),
        top: (75),
        left: (),
        right: (),
        horizontal: (),
        vertical: ()
    ),
    large: (
        all: (),
        bottom: (),
        top: (),
        left: (),
        right: (),
        horizontal: (),
        vertical: ()
    ),
    xlarge: (
        all: (),
        bottom: (),
        top: (),
        left: (),
        right: (),
        horizontal: (),
        vertical: ()
    )

);