$colors: (
    grey: (
        dark: #303030,
        base: #4a4a4a,
        light: #b7c1c0,
        xlight: #e5e5e5
    ),
    green: (
        dark: #4c514a,
        base: #636363,
        light: #879796
    )
);